* {
    /* ca sa fie full screen */
    margin: 0;
    padding: 0;
   

}
  
body {
    height: 100%;
    width: 100%;
    background-image: url("imagesMermaid/istockphoto-1143347756-170667a.jpg");
    background-repeat: no-repeat; 
    background-size: 100% 100%;
    display: block;
 
}
  


.title{
    position: fixed;
    z-index: 10;
    font-size: 350%;
    font-weight: 100;
    color:rgb(76, 240, 191);
    top: 55%;
    left: 38%;
    text-align: center;
    font-family: fantasy;
}
.actions{
    position: fixed;
    z-index: 10;
    font-size: 250%;
    font-weight: 100;
    color: rgb(0, 0, 0);
    top: 70%;
    left: 30%;
    text-align: center;
    font-family: fantasy;
    -webkit-text-stroke: 1px rgb(76, 240, 191); 
}

.over{
    position: fixed;
    z-index: 10;
    font-size: 350%;
    font-weight: 100;
    color: rgb(230, 26, 26);
    top: 60%;
    left: 40%;
    text-align: center;
    font-family: fantasy;
    /* -webkit-text-stroke: 2px rgb(1, 25, 56);  */
    -webkit-text-stroke: 2px rgb(76, 240, 191); 
}


.mermaid{
    padding: 0;
    margin:0;
    position: fixed;
    z-index: 100;
    height: 120px;
    width: 180px;
    top: 50%;
    left: 20%;
   
   
}

  
.score {
    position: fixed;
    z-index: 10;
    height: 300%;
    font-size: 300%;
    font-weight: 100;
    color: rgb(19, 204, 53);
    top: 0;
    right: 0;
    -webkit-text-stroke: 1px rgb(76, 240, 191); 
}
  
.obstacle_sprite{
    background-color: white;
    position: fixed;
    height: 70%;
    width: 6%;
    top: 40%;
    left: 100%;
}

